# Problem Statement

##

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Loading data into data frames

In [13]:
buyer = pd.read_csv('buyer.csv')
seller = pd.read_csv('seller.csv')
matchs = pd.read_csv('match.csv')

In [14]:
buyer_keywords = pd.read_csv('buyer_keywords.csv')
seller_keywords = pd.read_csv('seller_keywords.csv')
keywords = pd.read_csv('keywords.csv')

In [15]:
sub_sector = pd.read_csv('sub_sector.csv')
sectors = pd.read_csv('sectors.csv')
deal_sector_info = pd.read_csv('deal_sector_info.csv')

In [19]:
seller.head()

,id,udes,ades,ds
0,13867,Latin America based with $9 million in revenue...,NaN,2
1,13863,US-based| with US$ 6M in revenue| this is a ga...,US-based| with US$ 6M in revenue| this is a ga...,2
2,13860,US-based| with revenue of US$ 6M| this is a wh...,US-based| with revenue of US$ 6M| this is a wh...,2
3,13853,US-based with $30 million in revenue| this is ...,US-based with $30 million in revenue| this is ...,2
4,13852,US-based with $14 million in revenue| this com...,US-based with $14 million in revenue| this com...,2

### Missing value Treatment
#### Description for companies is unique so filling them with some dummy text whcih will not match to anyother description
##### For Buyer it is BBBBB
##### For Seller it is SSSSS